.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}


h2 {
  text-align: center;
}

.highlight {
  color: purple;
}

.card, .existing {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

select, input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.appoint-btn {
  
  background-color: purple;
  color: white;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 200%;
  padding: 10px;
}

.appoint-btn :hover {
  background-color: #065f46;
}
.cancel-btn {
  background-color: rgb(173, 8, 8);
  color: white;
  border: none;
  font-weight: bold;
  cursor:pointer;
  width:30%;
 display: block;
 margin: 0 auto;
 
}

.cancel-btn:hover {
  background-color: rgb(173, 8, 8);
}
.appointment-card {
  border: 1px solid #e5e7eb;
  padding: 12px;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}
.search-box {
  margin-bottom: 15px;
  float:right;
}

input[type="text"] {
  padding: 8px;
  width: 250px;
  font-size: 16px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  text-align: left;
  padding: 10px;
   border: 1px solid #ccc;
}

th {
  background-color: #f3f4f6;
  font-weight: bold;
}
.edit-btn {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  margin-right: 5px;
  cursor: pointer;
  width:80%;
}

.edit-btn:hover {
  background-color: #2563eb;
}

.delete-btn {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  width:80%;
}

.delete-btn:hover {
  background-color: #dc2626;
}
